<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[log4j]%d %5p [%c] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
	    <!-- 내가 만든 소스 -->
	    <Logger name="vat" level="DEBUG" additivity="false">
	        <AppenderRef ref="console" />
	    </Logger>
	    <Logger name="com.com.interceptor.RequestLogInterceptor"
	        level="INFO"
	        additivity="false">
	    	<AppenderRef ref="console" />
	    </Logger>
	
	    <!-- SQL -->
	    <Logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
	        <AppenderRef ref="console" />
	    </Logger>
	
	    <!-- Spring 에러/경고만 -->
	    <Logger name="org.springframework" level="WARN" additivity="false">
	        <AppenderRef ref="console" />
	    </Logger>
	
	    <!-- 전자정부 내부 에러/경고만 -->
	    <Logger name="egovframework" level="WARN" additivity="false">
	        <AppenderRef ref="console" />
	    </Logger>
	
	    <Logger name="org.egovframe" level="WARN" additivity="false">
	        <AppenderRef ref="console" />
	    </Logger>
	    
	    <Logger name="egovframework.com.sym.log.plg.service.EgovPrivacyLogAspect"
		        level="OFF"
		        additivity="false">
		</Logger>
	
	    <!-- 나머지는 경고 이상만 -->
	    <Root level="WARN">
	        <AppenderRef ref="console" />
	    </Root>
	
    </Loggers>
</Configuration>